In [1]:
import pandas as pd
import numpy as np
import matplotlib
from pathlib import Path

In [19]:
ruta_script = Path("DS Market prediction.ipynb").resolve().parent
ruta_archivo_ventas = ruta_script / "Datos" / "item_sales.csv"
ruta_archivo_precios = ruta_script /"Datos"/"item_prices.csv"
ruta_archivo_fechas = ruta_script /"Datos"/"daily_calendar_with_events.csv"

In [21]:
sales = pd.read_csv(ruta_archivo_ventas)
calendar = pd.read_csv(ruta_archivo_fechas)
prices = pd.read_csv(ruta_archivo_precios)

In [ ]:
calendar.head(), prices.head(), sales.head()

In [ ]:
print("Calendario")
print(calendar.info(), "\n")

print("Precios")
print(prices.info(), "\n")

print("Ventas")
print(sales.info(), "\n")

# Hay que transformar las fechas antes de pasalo al Power bi

In [ ]:
# Valores Nulos por cada Dataset
print('Valores nulos por cada Dataset:')
print("Calendar:", calendar.isnull().sum(), '\n')
print("prices:", prices.isnull().sum(), '\n')
print("sales:", sales.isnull().sum(), '\n')

In [28]:
# Valores Unicos en columnas claves
print("Categorias de productos en ventas:", sales['category'].unique())
print("Categorias de productos en precios:", prices['category'].unique())

Categorias de productos en ventas: ['ACCESORIES' 'HOME_&_GARDEN' 'SUPERMARKET']
Categorias de productos en precios: ['ACCESORIES' 'HOME_&_GARDEN' 'SUPERMARKET']

In [55]:
print(sales.head())

                       id              item    category    department  \
0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
1  ACCESORIES_1_002_NYC_1  ACCESORIES_1_002  ACCESORIES  ACCESORIES_1
2  ACCESORIES_1_003_NYC_1  ACCESORIES_1_003  ACCESORIES  ACCESORIES_1
3  ACCESORIES_1_004_NYC_1  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
4  ACCESORIES_1_005_NYC_1  ACCESORIES_1_005  ACCESORIES  ACCESORIES_1

               store store_code    region  d_1  d_2  d_3  ...  d_1904  d_1905  \
0  Greenwich_Village      NYC_1  New York    0    0    0  ...       1       3
1  Greenwich_Village      NYC_1  New York    0    0    0  ...       0       0
2  Greenwich_Village      NYC_1  New York    0    0    0  ...       2       1
3  Greenwich_Village      NYC_1  New York    0    0    0  ...       1       0
4  Greenwich_Village      NYC_1  New York    0    0    0  ...       2       1

   d_1906  d_1907  d_1908  d_1909  d_1910  d_1911  d_1912  d_1913
0       0       1       1       1       3       0       1       1
1       0       0       0       1       0       0       0       0
2       2       1       1       1       0       1       1       1
3       5       4       1       0       1       3       7       2
4       1       0       1       1       2       2       2       4

[5 rows x 1920 columns]

游늷 Formatear fechas

In [29]:
calendar['date'] = pd.to_datetime(calendar['date'])

# De paso probamos extrer a침o, mes y dia si es necesario
calendar['year'] = calendar['date'].dt.year
calendar['months'] = calendar['date'].dt.month
calendar['day'] = calendar['date'].dt.day

游늷 Corregir valores en yearweek

In [34]:
prices.head()
# yearweek me la saco como una fecha :4, para recorrerlo tiene que estar como str

               item    category store_code  yearweek  sell_price
0  ACCESORIES_1_001  ACCESORIES      NYC_1  201328.0     12.7414
1  ACCESORIES_1_001  ACCESORIES      NYC_1  201329.0     12.7414
2  ACCESORIES_1_001  ACCESORIES      NYC_1  201330.0     10.9858
3  ACCESORIES_1_001  ACCESORIES      NYC_1  201331.0     10.9858
4  ACCESORIES_1_001  ACCESORIES      NYC_1  201332.0     10.9858

In [49]:

# Convertir 'yearweek' a string, pero asegurarnos de que no haya NaN
prices['yearweek'] = prices['yearweek'].astype(str)

# Reemplazar valores "nan" expl칤citos y valores NaN reales por "000000"
prices['yearweek'] = prices['yearweek'].replace('nan', '000000').fillna('000000')

# Extraer a침o y semana correctamente
prices['year'] = prices['yearweek'].str[:4].astype(int, errors='ignore')  # Extrae el a침o
prices['week'] = prices['yearweek'].str[4:].astype(int, errors='ignore')  # Extrae la semana

# Verificar si quedan valores problem치ticos
print(prices[['yearweek', 'year', 'week']].head())

   yearweek  year  week
0  201328.0  2013  28.0
1  201329.0  2013  29.0
2  201330.0  2013  30.0
3  201331.0  2013  31.0
4  201332.0  2013  32.0

In [51]:
## Convertir 'week' y 'year' primero a float, luego a int para evitar errores
prices['year'] = prices['year'].astype(float).fillna(0).astype(int)
prices['week'] = prices['week'].astype(float).fillna(0).astype(int)

# Verificar resultado
print(prices[['yearweek', 'year', 'week']].head())

   yearweek  year  week
0  201328.0  2013    28
1  201329.0  2013    29
2  201330.0  2013    30
3  201331.0  2013    31
4  201332.0  2013    32

In [53]:
# Asegurar que no haya NaN en 'yearweek' y convertir a int sin errores
prices['yearweek'] = prices['yearweek'].fillna(0).astype(float).astype(int).astype(str)

# Verificar resultado
print(prices[['yearweek', 'year', 'week']].head())

  yearweek  year  week
0   201328  2013    28
1   201329  2013    29
2   201330  2013    30
3   201331  2013    31
4   201332  2013    32

In [ ]:
print("Calendario")
print(calendar.info(), "\n")

print("Precios")
print(prices.info(), "\n")

print("Ventas")
print(sales.info(), "\n")

Normalizar Nombres de columnas

In [ ]:
calendar.columns = calendar.columns.str.lower()
prices.columns = 
sales.columns =